/* NAVBAR */
#expandNavbarButton:focus {
    & .bi {
        animation: fadeOut 0.5s ease-in-out;
    }

    & .bi_x {
        animation: fadeIn 0.7s ease-in-out;
    }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.expandable_navbar {
    animation: slideIn 0.3s ease-in-out forwards;
}

.expandable_navbar_slide_out {
    animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        top: -75%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -75%;
        opacity: 0;
    }
}

/* SELECT CONTENTS */
.select_content_time {
    &::after {
        animation: fadeOut 0.5s ease-in-out;
    }
}

.select_content_time_2 {
    &::after {
        animation: fadeIn 0.7s ease-in-out;
    }
}

/* SCROLLTOP BTN */
.scroll_to_top button {
    animation: fadeIn 0.5s ease-in-out;
}

.scroll_to_top button.active {
    animation: fadeIn 0.5s ease-in-out;
}

/* CARD */
.main_trending_tr,
.main_movies_tr,
.main_series_tr  {
    &:hover {
        animation: pulse 0.5s ease-in-out 2s infinite alternate-reverse;
    }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--dark-blue-colour-2); }
    10% { box-shadow: 0 0 0.1vh 0.1vh var(--dark-blue-colour-2); }
    20% { box-shadow: 0 0 0.2vh 0.2vh var(--dark-blue-colour-2); }
    30% { box-shadow: 0 0 0.3vh 0.3vh var(--dark-blue-colour-2); }
    40% { box-shadow: 0 0 0.4vh 0.4vh var(--dark-blue-colour-2); }
    50% { box-shadow: 0 0 0.5vh 0.5vh var(--dark-blue-colour-2); }
    60% { box-shadow: 0 0 0.6vh 0.6vh var(--dark-blue-colour-2); }
    70% { box-shadow: 0 0 0.7vh 0.7vh var(--dark-blue-colour-2); }
    80% { box-shadow: 0 0 0.8vh 0.8vh var(--dark-blue-colour-2); }
    90% { box-shadow: 0 0 0.9vh 0.9vh var(--dark-blue-colour-2); }
    100% { box-shadow: 0 0 1vh 1vh var(--dark-blue-colour-2); }
}