/* VARS */
:root {
    --white-colour: rgb(255, 255, 255);
    --dark-blue-colour: rgb(6, 33, 74);
    --dark-blue-colour-2: rgb(17, 60, 124);
    --medium-blue-colour: rgb(29, 101, 209);
    --medium-blue-colour-2: rgb(76, 130, 211);
    --light-blue-colour: rgb(134, 174, 235);
    --light-blue-colour-2: rgb(230, 240, 255);
}
/* VARS */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-blue-colour-2);
}

/* HEADER */
.header {
    padding: 1%;
    background-color: var(--medium-blue-colour-2);
}

.header_navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header_navbar_item:first-of-type {
    margin-left: 5em;
    margin-right: 7.5em;
}

.header_navbar_item input {
    padding: 1em;
    width: 30em;
    border: var(--white-colour);
    border-radius: 5em;
    outline: transparent;
    font-size: 1.25em;
}

.header_navbar_item:last-of-type {
    margin-left: 7.5em;
}

.header_navbar_item table {
/*     border: 1px solid black; */
    width: 39em;
}

.header_navbar_tr {
    display: inline;
    margin-right: 3em;
}

.header_navbar_tr:last-of-type {
    margin-right: -3em;
}

.header_navbar_td {
    display: inline;
    border-bottom: 0.1em solid;
    border-bottom-color: var(--white-colour);
    color: var(--white-colour);
    font-size: 1.5em;
    cursor: pointer;
}
/* HEADER */

/* MAIN */
.main_trending_tr,
.main_movies_tr,
.main_series_tr  {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 1%;
    height: 32.75em;
    border-radius: 1em;
    box-shadow: 0.15em 0.15em 0.15em 0.15em #555;
    background-color: var(--white-colour);
    cursor: pointer;
}

.main_trending_tr td,
.main_movies_tr td,
.main_series_tr td {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75em;
    font-size: 1.25em;
}

.main_trending_tr img,
.main_movies_tr img,
.main_series_tr img {
    width: 13.75em;
    border-radius: 1em;
}

.trending_section,
.movies_section,
.series_section {
    padding-top: 2em;
    padding-bottom: 2.5em;
}

.choose_content,
.choose_time {
    display: inline-flex;
    margin-left: 11em;
    margin-right: 3em;
    margin-top: 4em;

}

.choose_content h1,
.choose_time h1 {
    margin: 0;
    padding: 0.5em;
    width: 5em;
    text-align: center;
    border-radius: 2em;
    color: var(--white-colour);
    background-color: var(--dark-blue-colour-2);
    font-size: 1.6em;
}

.choose_content table,
.choose_time table {
    border: 0.2em solid var(--dark-blue-colour-2);
    border-radius: 3em;
    background-color:  var(--light-blue-colour-2);
}

.choose_content tr,
.choose_time tr {
    display: inline;
}

.choose_content td,
.choose_time td {
    padding: 0.5em;
    width: 6em;
    text-align: center;
    border: 1px solid;
    border-radius: 2em;
    color: var(--dark-blue-colour-2);
    background-color: var(--white-colour);
    font-size: 1.6em;
    cursor: pointer;
}

#choose_content_all,
#choose_time_day,
#choose_content_now_playing,
#choose_content_airing_today {
    color: var(--white-colour);
    background-color: var(--dark-blue-colour-2);
    cursor: default;
}

.trending_content,
.movies_content,
.series_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4.25%;
    width: 92%;
}

.trending_content::before,
.trending_content::after,
.movies_content::before,
.movies_content::after,
.series_content::before,
.series_content::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 95%;
    backdrop-filter: blur(0.05em);
    pointer-events: none;
}

.trending_content::before,
.movies_content::before,
.series_content::before {
    width: 2.5%;
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(230, 240, 255, 1));

}

.trending_content::after,
.movies_content::after,
.series_content::after  {
    width: 5%;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(230, 240, 255, 1));
}

.trending_tables,
.movies_tables,
.series_tables {
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
}

body::-webkit-scrollbar,
.trending_tables::-webkit-scrollbar,
.movies_tables::-webkit-scrollbar,
.series_tables::-webkit-scrollbar {
    width: 1.5em;
    height: 1.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--medium-blue-colour-2);
    cursor: grab;
}

.trending_tables::-webkit-scrollbar-thumb,
.movies_tables::-webkit-scrollbar-thumb,
.series_tables::-webkit-scrollbar-thumb {
    background-color: var(--medium-blue-colour-2);
    border-radius: 1em;
    cursor: grab;
}

body::-webkit-scrollbar-thumb:hover,
.trending_tables::-webkit-scrollbar-thumb:hover,
.movies_tables::-webkit-scrollbar-thumb:hover,
.series_tables::-webkit-scrollbar-thumb:hover {
    background-color: var(--medium-blue-colour);
    cursor: grabbing;
}

.scroll_to_top {
    position: fixed;
    bottom: 5%;
    right: 1.25%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.scroll_to_top .bi {
    display: flex;
    justify-content: center;
    border: 3px solid var(--light-blue-colour-2);
    border-radius: 0.2em;
    color: var(--dark-blue-colour-2);
    background-color: var(--light-blue-colour-2);
    font-size: 3.25em;
}
/* MAIN */

/* FOOTER */
.top_footer {
    margin-top: 5em;
    width: 100%;
    height: 7.5em;
    background-color: var(--dark-blue-colour-2);
}

.body_footer {
    width: 100%;
    height: 22.5em;
    background-color: var(--medium-blue-colour-2);
}

.footer {
    display: none;
}
/* FOOTER */