/* VARS */
:root {
    --white-colour: rgb(255, 255, 255);
    --black-colour-alpha: rgba(255, 255, 255, 0);
    --dark-blue-colour: rgb(6, 33, 74);
    --dark-blue-colour-2: rgb(17, 60, 124);
    --dark-blue-colour-3: rgb(20, 72, 150);
    --medium-blue-colour: rgb(29, 101, 209);
    --medium-blue-colour-2: rgb(76, 130, 211);
    --light-blue-colour: rgb(134, 174, 235);
    --light-blue-colour-2: rgb(230, 240, 255);
    --light-blue-colour-2-alpha: rgba(230, 240, 255, 1);
}
/* VARS */

/* MAIN */
.contents,
.choice_contents,
.select_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.choose_content,
.choose_time {
    margin-left: 12.5vh;
    margin-right: 12.5vh;
    margin-top: 7.5vh;

    & h1 {
        margin: 0;
        padding: 1.5vh;
        width: 16vh;
        text-align: center;
        border: 0.3vh solid var(--dark-blue-colour-2);
        border-radius: 5vh;
        color: var(--white-colour);
        background-color: var(--dark-blue-colour-2);
        font-size: 3vh;
    }

    & table {
        border: 0.4vh solid var(--dark-blue-colour-2);
        border-radius: 5vh;
        background-color:  var(--light-blue-colour-2);
    }

    & tr {
        display: inline;
    }

    & td {
        padding: 1.5vh;
        width: 16vh;
        text-align: center;
        border: 0.3vh solid var(--dark-blue-colour-2);
        border-radius: 5vh;
        color: var(--dark-blue-colour-2);
        background-color: var(--white-colour);
        font-size: 3vh;
        cursor: pointer;
    }
}

#choose_content_all,
#choose_time_day,
#choose_content_now_playing,
#choose_content_airing_today {
    color: var(--white-colour);
    background-color: var(--dark-blue-colour-2);
    cursor: default;
}

.select_content_time {
    margin-left: 1vh;
    margin-right: 5vh;
    margin-top: 7.5vh;

    & select {
        margin: 0;
        padding: 1.5vh;
        width: 16vh;
        text-align: center;
        border: 0.3vh solid var(--dark-blue-colour-2);
        border-radius: 1vh;
        color: var(--white-colour);
        background-color: var(--dark-blue-colour-2);
        font-size: 2.5vh;
    }
}

.trending_section,
.movies_section,
.series_section {
    padding-top: 5vh;
}

.trending_content,
.movies_content,
.series_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4.5%;
    width: 90%;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: 95%;
        backdrop-filter: blur(0.05vh);
        pointer-events: none;
    }

    &::before {
        width: 2.5%;
        left: 0;
        background: linear-gradient(to left, var(--black-colour-alpha), var(--light-blue-colour-2-alpha));
    }

    &::after {
        width: 5.5%;
        right: -0.15%;
        background: linear-gradient(to right, var(--black-colour-alpha), var(--light-blue-colour-2-alpha));
    }
}

.trending_tables,
.movies_tables,
.series_tables {
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 2vh;

    &::-webkit-scrollbar {
        width: 2.75vh;
        height: 2.75vh;
        border-radius: 3vh;
        background-color: var(--white-colour);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--medium-blue-colour-2);
        border-radius: 3vh;
        cursor: grab;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--medium-blue-colour);
        cursor: grab;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: var(--dark-blue-colour-2);
        cursor: grabbing;
    }
}

.main_trending_tr,
.main_movies_tr,
.main_series_tr  {
    display: grid;
    margin: 1.5%;
    padding: 1%;
    height: 50vh;
    border-radius: 2vh;
    box-shadow: 0.35vh 0.40vh 0.35vh 0.40vh var(--dark-blue-colour);
    background-color: var(--white-colour);
    cursor: pointer;

    & td {
        padding-bottom: 1.5vh;
        font-size: 2vh;
    }

    & td:nth-of-type(2) {
        font-weight: bold;
    }

    & img {
        width: 25vh;
        border-radius: 2vh;
    }
}
/* MAIN */