/* VARS */
:root {
    --white-colour: rgb(255, 255, 255);
    --black-colour-alpha: rgba(255, 255, 255, 0);
    --dark-blue-colour: rgb(6, 33, 74);
    --dark-blue-colour-2: rgb(17, 60, 124);
    --dark-blue-colour-3: rgb(20, 72, 150);
    --medium-blue-colour: rgb(29, 101, 209);
    --medium-blue-colour-2: rgb(76, 130, 211);
    --light-blue-colour: rgb(134, 174, 235);
    --light-blue-colour-2: rgb(230, 240, 255);
    --light-blue-colour-2-alpha: rgba(230, 240, 255, 1);
}
/* VARS */

/* MAIN */

/* MAIN */