@media screen {
    @media (orientation: landscape) {
        @media (max-width: 1800px) {
            .header_navbar {
                gap: 15vh;
                transition: gap 0.25s ease-in;
            }

            .header_navbar_item input {
                width: 55vh;
                transition: width 0.25s ease-in;
            }
        }

        @media (max-width: 1650px) {
            .header_navbar {
                gap: 12.5vh;
                transition: gap 0.25s ease-in;
            }

            .header_navbar_item input {
                width: 50vh;
                transition: width 0.25s ease-in;
            }

            .header_navbar_tr {
                margin: 1.5vh;
                transition: margin 0.25s ease-in;
            }
        }

        @media (max-width: 1520px) {
            .header_navbar {
                gap: 10vh;
                transition: gap 0.25s ease-in;
            }

            .header_navbar_item input {
                width: 45vh;
                transition: width 0.25s ease-in;
            }

            .header_navbar_tr {
                margin: 1vh;
                transition: margin 0.25s ease-in;
            }

            .choice_contents {
                gap: 5vh;
                transition: gap 0.25s ease-in;
            }
        }

        @media (max-width: 1370px) {
            .header_navbar {
                height: 6.3vh;
                transition: height 0.25s ease-in;
            }

            .contents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
    }

    @media (orientation: portrait) {
        @media (max-width: 1370px) {
            .header_navbar {
                height: 4vh;
                transition: height 0.25s ease-in;
            }

            .expand_button {
                right: 3%;
            }
        }

        @media (max-width: 1024px) {
            .choose_content,
            .select_content_time,
            .select_content_time_2 {
                margin-top: 4vh;
            }
        }

        @media (max-width: 615px) {
            .header_navbar_tr {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media screen {
    @media (max-width: 1370px) {
        .header_navbar_item {
            &:nth-of-type(2),
            &:nth-of-type(3) {
                display: none;
            }
        }

        .expand_button {
            display: block;
        }

        .select_content_time,
        .select_content_time_2 {
            gap: 10vh;
        }

        #select_movies,
        #select_series {
            width: 22.5vh;
        }
    }
}