@media screen {
    
    /* MacBook Pro, Nest Hub Max */
    @media (max-width: 1440px) {
        .header_navbar_item:first-of-type {
            margin-left: 2.5vh;
            margin-right: 5vh;
        }
        
        .header_navbar_item:nth-of-type(2) {
            margin-left: 5vh;
        }
        
        .header_navbar_item:nth-of-type(3) {
            margin-left: 7.5vh;
        }

        .choose_content,
        .choose_time {
            margin-left: 5vh;
            margin-right: 5vh;
            margin-top: 7.5vh;
        }

        .choose_content h1,
        .choose_time h1 {
            width: 14vh;
            font-size: 2.5vh;
        }

        .choose_content td,
        .choose_time td {
            width: 14vh;
            font-size: 2.5vh;
        }
    }
    /* MacBook Pro, Nest Hub Max */

    /* Nest Hub, iPad Pro */
    @media (max-width: 1024px) {
        .header_navbar_item:nth-of-type(2),
        .header_navbar_item:nth-of-type(3) {
            display: none;
        }

        .expand_button {
            display: block;
            margin-left: 50vh;
        }
    }
    /* Nest Hub, iPad Pro */

    /* Surface Pro 7, iPad Air */
    @media (max-width: 912px) {
        .expandable_navbar div:nth-of-type(2) {
            margin-top: 1vh;
        }

        .expandable_navbar div:nth-of-type(3) {
            margin-top: 2vh;
        }

        .expand_button {
            display: block;
            margin-left: 40vh;
        }
    }
    /* Surface Pro 7, iPad Air */

    /* iPad Mini */
    @media (max-width: 768px) {
        .expand_button {
            display: block;
            margin-left: 42.5vh;
        }
    }
    /* iPad Mini */

    /* Surface Duo */
    @media (max-width: 540px) {
        .expand_button {
            display: block;
            margin-left: 35vh;
        }
    }
    /* Surface Duo */

    /* iPhone Pro Max, iPhone XR, Samsung Galaxy S20 Ultra, Samsung Galaxy A51/71 */
    @media (max-width: 430px) {
        .expand_button {
            display: block;
            margin-left: 12vh;
        }
    }
    /* iPhone Pro Max, iPhone XR, Samsung Galaxy S20 Ultra, Samsung Galaxy A51/71 */

    /* iPhone 12 Pro */
    @media (max-width: 390px) {
        .expand_button {
            display: block;
            margin-left: 8vh;
        }
    }
    /* iPhone 12 Pro */

    /* iPhone SE */
    @media (max-width: 375px) {
        .expand_button {
            display: block;
            margin-left: 14vh;
        }
    }
    /* iPhone SE */

    /* Samsung Galaxy S8+ */
    @media (max-width: 360px) {
        .expand_button {
            display: block;
            margin-left: 10vh;
        }
    }
    /* Samsung Galaxy S8+ */

    /* Galaxy Fold */
    @media (max-width: 280px) {
        .expand_button {
            display: block;
            margin-left: 1vh;
        }
    }
    /* Galaxy Fold */
}