body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1%;
    background-color: rgb(29, 101, 209);
}

.header_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_navbar_tr {
    display: inline-block;
}

.main_trending_tr,
.main_now_playing_tr {
    display: inline-block;
    margin: 1%;
    padding: 1%;
    height: 25em;
    border-radius: 1em;
    box-shadow: 0.15em 0.15em 0.15em 0.15em #555;
    background-color: rgb(255, 255, 255);
}

.main_trending_tr td,
.main_now_playing_tr td {
    font-size: 1.25em;
}

.main_trending_tr img,
.main_now_playing_tr img {
    border-radius: 1em;
}

.trending_section,
.movies_section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.trending_section h1,
.movies_section h1 {
    padding: 0.5%;
    position: relative;
    left: 6%;
    width: 5em;
    text-align: center;
    border: 0.15em solid rgb(17, 60, 124);
    border-radius: 2em;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 60, 124);
    font-size: 1.75em;
}

.trending_content,
.movies_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4%;
    width: 91%;
}

#trendingTable,
#moviesTable {
    display: inline-flex;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 1em;
}

#trendingTable::-webkit-scrollbar,
#moviesTable::-webkit-scrollbar {
    width: 1.5em;
    height: 1.5em;
}
  
#trendingTable::-webkit-scrollbar-thumb,
#moviesTable::-webkit-scrollbar-thumb {
    background-color:rgb(76, 130, 211);
    border-radius: 50px;
}

#trendingTable::-webkit-scrollbar-thumb:hover,
#moviesTable::-webkit-scrollbar-thumb:hover {
    background-color: rgb(29, 101, 209)
}